body{
  font-family: 'Open Sans', sans-serif;
  height: 100%;

}

h1 {
  font-family: 'Lobster', cursive;
  padding-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
  color: white;
}

span {
  color: red;
}

span:hover {
  cursor: pointer;
  color: rgb(157, 157, 207);
}

.choose {
  font-weight: 700;
  font-size: 25px;
  padding-top: 20px
}

form {
  margin-bottom: 25px;
}

#pizza, hr {
  width: 75%;
  margin-left: 0;
}

hr {
  background-color: black;
  width: 80%;
}

.column1, .column2 {
  background-color: #C20A0A;
  width: 8%;
  height: 100vh;
  position: absolute;
  z-index: -2;
}

.column2 {
  right: 0;
}

.banner {
  height: 125px;
  width: 100%;
  background-color: green;
  position: absolute;
  z-index: -1;
}

#thanks {
  padding-top: 240px;
  text-align: center;
  font-size: 75px;
  color: black;
}

img {
  width: 300px;
  height: auto;
  position: absolute;
  top: 380px;
  left: 35%;
}

#confirm-box {
  display: none;
  margin: 20px auto;
}

p {
  margin: 5px;
}

#cost {
  padding-bottom: 10px;
}

.form-group {
  margin-top: 10px;
}